@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.body-container {
    background-image: url('./back.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 50vh;
    width: 100vw;
    padding-top: 10px;
    color: #ffffff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(70%);
    animation: backgroundMove 30s linear infinite;
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.extra-wide-container {
    width: 2000px;
    height: 500px;
    background-size: 100% 100%;
    position: relative;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    line-height: 0.9; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}

.centered-text span {
    display: block;
}