
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    margin-left: 1px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase; 
    color: inherit; 
    cursor: pointer; 
}
.header-nav {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
}

.theme-toggle {
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .header-container {
    color: #e0e0e0;
}

body.dark-mode .header-nav .nav-link {
    color: #e0e0e0;
}

body.dark-mode .header-separator {
    border-color: #e0e0e0;
}

body {
    background-color: #ffffff;
    color: #000000;
}

body .header-container {
    color: #000000;
}

body .header-nav .nav-link {
    color: #000000;
}

body .header-separator {
    border-color: #000000; 
}


