.header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 350px; /* Padding from left and right */
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.nav {
    display: flex;
    width: 100%;
    color: black;
    align-items: center;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 15px; /* This space between items applies to both left and right nav */
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo {
    height: 40px;
    object-fit: contain;
    margin-left: 10px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    gap: 75px; /* This will create space between items inside the nav-right */
}

/* Styling the dots next to Projects */
.dots {
    font-size: 24px; /* Increase size */
    font-weight: bold; /* Make it bold */
    color: #fff; /* Set color */
    margin-left: 10px; /* Space between Projects and dots */
    align-self: center; /* Align vertically */
}
